@tailwind base;
@tailwind components;
@tailwind utilities;

/* Splash animation */
@keyframes fade-in {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

.logo-splash {
    animation: fade-in 1.2s ease-in-out forwards;
    animation-delay: 0.3s;
}
